body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.flex {
  display: flex;
}

.flex.row {
  flex-direction: row;
}

.flex.column {
  flex-direction: column;
}

#header {
  height: 100vh;
  width: 100%;
  background: url("../img/city.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

#header h1 {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  color: white;
}

#logo {
  margin: auto;
  display: block;
  width: 200px;
  height: 200px;
  margin-top: 10vh;
  position: absolute;
  left: 50vw;
  transform: translate(-40%, 0%);
}

nav {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

ul {

}

li {
  display: inline;
  margin-left: 200px;
}

li:first-child {
  margin-left: 0;
}

li a {
  text-decoration: none;
  font-size: 40px;
  color: black;
  cursor: pointer;
}

li a:hover {
  color: darkslategray;
}

/* projects */
#projects {
  height: auto;
  margin: auto;
  display: block;
  overflow: hidden;
  width: 56%;
}

#projects h2 {
  text-align: left;
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 50px;
}

.boxes {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 80px;
  flex-flow: wrap;
  margin-bottom: 60px;
}

.box {
  height: 350px;
  width: 250px;
  background-image: url(../img/floatingisland.png);
  background-size: contain;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  transform: scale(1);
  transition: all 0.5s;
  flex-flow: wrap;
}

.box:hover {
  transform: scale(0.95);
}

.description {
  background: white;
  width: 250px;
  height: 150px;
  margin-top: 200px;
}
.description h3 {
  padding: 10px 0 0 10px;
}
.description p {
  padding-left: 10px;
}
.description button {
  margin: auto;
  display: block;
  margin-top: 30px;
  border: none;
  background: white;
  outline: none;
}

.box2 {
  height: 350px;
  width: 350px;
  background-color: black;
}

/* background2 */
.background2 {
  height: 55vh;
  background-image: url(../img/stairs.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/* about me  */
#aboutme {
  height: auto;
  width: 100%;
  overflow: hidden;
}
#aboutme h2{
  text-align: left;
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 50px;

}
.headbox {
  margin: auto;
  display: block;
}
.aboutme {
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}

.p1 {
  width: 430px;
  margin-right: 20px;
}

.p2 {
  width: 430px;
  margin-left: 20px;
}

.circle {
  background-image: url(../img/profilepicture.jpg);
  background-size: cover;
  border: 10px solid white;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  position: absolute;
  left: 50vw;
  transform: translate(-50%, -50%);
}
/* background3  */
.background3 {
  height: 60vh;
  background-image: url(../img/chairs.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
/* contact  */
#contact {
  height: auto;
  width: 56%;
  overflow: hidden;
  margin: auto;
}

#contact h2{
  text-align: left;
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 50px;
}

.contactme {
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  text-align: center;
  margin-bottom: 80px;
  align-items: center;
}

.left-side {
  width: 100%;
  text-align: left;
}

.right-side {
  width: 100%;
}
.right-side i {
  font-size: 40px;
  margin-left: 10px;
  cursor: pointer;
}

.socialmedia {
  text-align: right
}


/* footer  */
#footer {
  height: 5vh;
  text-align: center;
  color: black;
  background-color: white;
  border-top: 1px solid darkslategray;
}

hr {
  width: 100%;
  border: 0;
  height: 5px;
  background: darkslategray;

}

* {box-sizing:border-box}

.slideshow-container {
  max-width: 56%;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: -20px;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: -20px;
}

.prev:hover, .next:hover {
  background-color:  #DE5021;
  color: white;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width: 768px) {
  li {
    display: inherit;
    margin-left: 0;
  }
  ul {
    margin-top: 200px;
    padding-left: 0;
  }
  #projects h2 {
    text-align: left;
    margin-left: 35px;
  }
  #projects {
    width: 100%;
    height: auto;
  }
  hr {
    width: 80%;
  }
  .boxes {
    /* width: 100%; */
    /* flex-direction: column; */
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .box {
    margin-top: 50px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  .box:first-child {
    margin-top: 0;
  }
  #aboutme {
    height: 130vh;
  }
  .aboutme {
    flex-direction: column;
  }
  #logo {
    transform: translate(-50%, 0%);
  }
  #contact {
    height: auto;
    width: 100%;
  }
  #contact h2 {
    margin-left: 35px;
  }
  .contactme {
    flex-direction: column;
    margin-top: 20px;
  }
  .left-side {
    width: auto;
    margin-top: 0;
    text-align: center;
  }
  .right-side {
    margin-bottom: 30px;
  }
  input {
    margin-top: 10px;
    width: 60%;
    text-align: center;
    margin-left: 12%;
  }
  textarea {
    margin-left: 12%;
    text-align: center;
    margin-bottom: 10px;
    width: 60%;
  }
  #aboutme {
    height: auto;
    width: 100%;
  }
  .slideshow-container {
    max-width: 108%;
  }
  #aboutme h2 {
    margin-top: 110px;
    margin-left: 35px;
  }
  .aboutme {
  flex-direction: column;
  }
  .p2 {
    width: 80%;
    margin-left: 35px;
  }
  .p1 {
    width: 80%;
    margin-left: 35px;
    padding-right: 35px;
  }
  .socialmedia {
    text-align: center;
  }
}
