body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.flex {
  display: flex;
}

.flex.row {
  flex-direction: row;
}

.flex.column {
  flex-direction: column;
}

#header {
  height: 100vh;
  width: 100%;
  background: url("../img/city.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

#header h1 {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  color: white;
}

#logo {
  margin: auto;
  display: block;
  width: 200px;
  height: 200px;
  margin-top: 10vh;
  position: absolute;
  left: 50vw;
  transform: translate(-40%, 0%);
}

nav {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

ul {

}

li {
  display: inline;
  margin-left: 200px;
}

li:first-child {
  margin-left: 0;
}

li a {
  text-decoration: none;
  font-size: 40px;
  color: black;
  cursor: pointer;
}

li a:hover {
  color: #DE5021;
}

/* projects */
#projects {
  height: 70vh;
  overflow: hidden;
}

#projects h2 {
  text-align: left;
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 50px;
}

.boxes {
  width: 900px;
  height: 50vh;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}

.box {
  height: 350px;
  width: 250px;
  background-image: url(../img/floatingisland.png);
  background-size: contain;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  transform: scale(1);
  transition: all 0.5s;
}

.box:hover {
  transform: scale(0.95);
}

.description {
  background: white;
  width: 250px;
  height: 150px;
  margin-top: 200px;
}
.description h3 {
  padding: 10px 0 0 10px;
}
.description p {
  padding-left: 10px;
}
.description button {
  margin: auto;
  display: block;
  margin-top: 30px;
  border: none;
  background: white;
  outline: none;
}

.box2 {
  height: 350px;
  width: 350px;
  background-color: black;
}

/* background2 */
.background2 {
  height: 55vh;
  background-image: url(../img/stairs.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/* about me  */
#aboutme {
  height: 50vh;
}
#aboutme h2{
  text-align: left;
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 50px;

}
.headbox {
  width: 900px;
  margin: auto;
  display: block;
}
.aboutme {
  justify-content: center;
  margin-top: 50px;
}

.p1 {
  width: 430px;
  margin-right: 20px;
}

.p2 {
  width: 430px;
  margin-left: 20px;
}

.circle {
  background-image: url(../img/profilepicture.jpg);
  background-size: cover;
  border: 10px solid white;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  position: absolute;
  left: 50vw;
  transform: translate(-50%, 0%);
  margin-top: -160px;
}
/* background3  */
.background3 {
  height: 60vh;
  background-image: url(../img/chairs.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
/* contact  */
#contact {
  height: 50vh;
}

#contact h2{
  text-align: left;
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 50px;
}

.contactme {
  justify-content: center;
  margin-top: 50px;
}

.left-side {
  width: 450px;
}

.right-side {
  width: 450px;
}

input {
  height: 30px;
  margin-top: 10px;
  border: none;
  border-bottom: 1px solid #DE5021;
  outline: none;
  font-weight: 700;
}

textarea {
  outline: none;
  height: 80px;
  margin-top: 10px;
  border: none;
  border-bottom: 1px solid #DE5021;
  font-weight: 700;
}

/* footer  */
#footer {
  height: 5vh;
  text-align: center;
  color: black;
  background-color: white;
  border-top: 1px solid #DE5021;
}

hr {
  width: 900px;
  border: 0;
  height: 5px;
  background: #DE5021;

}
